*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.d-flex{
    display: flex;
}


h1{
    font-size: 2.5rem;
    margin-top: 20px;
}

span{
    color: rgb(250, 0, 125);
}

p{
    margin-top:40px ;
    color: rgb(116, 116, 116);
    margin-bottom: 30px;
    line-height: 28px;
}

.half-width{
    width: 50%;
    padding-left: 10%;
}

.half-width img{
    width: 90%;
    margin-top: 20px;
}
.headsection{
    padding-top: 30px;
    background-color: #ebe5e5;
    padding-bottom:50px ;
}

.button{
    
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(209, 19, 200), rgb(165, 1, 50));
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
    font-weight: bolder;
    display: inline;
    cursor: pointer;

}

.about-me{
    margin-top: 50px;
    
}

.about-me .about{
    margin-top: 50px;
}

.recipie{
    margin-top: 150px;
    text-align: center;
    padding-left: 10%;
}

.recipie p{
    margin-top: 30px;
    width: 50%;
    margin: 0 auto;
}


.bshad{
    width: 33%;
    /* padding-left: 10%; */
    background-color: #fff;
    box-shadow: 4px 6px 6px rgb(117, 117, 117);
    padding: 30px ;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 35px;
    margin-right: 35px;




}

.bshad img{
    width: 100%;
    margin-bottom: 15px;
}
.items{
    background-color: rgb(230, 230, 230);
    padding-bottom: 50px;
    margin-bottom: 30px;

}
.item2 img{
    border-radius: 20px;
}

.items h1{
    padding-top: 20px;
    margin-bottom: 20px;
}


.item3 img{
    border-radius: 10px;
}
h4{
    /* text-align: center; */
    color: rgba(172, 20, 96, 0.548);
}

.stwidth{
    width: 33%;
}

.social-status{
    /* margin-left: 10%; */
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;

}


.social-status h1{
    margin-bottom: -30px;
}




.contact-sec{
    /* margin-left: 10%; */
    text-align: center;
    background: rgb(228, 228, 228);
    margin-bottom: -55px;
    padding-bottom:20px ;

}

.contact-sec h1{
    margin-bottom: 30px;
    padding: 20px;
}

.contact-sec p{
    color: rgb(0, 0, 0);
}

.form h2{
    margin-top: 70px;
    margin-bottom: 40px;
}

.contact-box{
    
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    margin: 0 auto;
    padding: 5%;
    border-radius: 20px;
 
}

.feild{
    width: 400px;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 15px;
    padding: 5px;
}

.button1{
    margin-top: 20px;
    height: auto;
    width: auto;
    padding: 10px 15px;
    background-image: linear-gradient(rgb(109, 0, 103), rgb(207, 38, 38));
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.footer{
    text-align: center;
    margin-top: 50px;
    background: #000;
    padding: 5%;
}



.footer .white{
    color: white;
}
