*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.d-flex{
    display: flex;
}


h1{
    font-size: 2.5rem;
    margin-top: 20px;
}

span{
    color: rgb(250, 0, 125);
}

p{
    margin-top:40px ;
    color: rgb(116, 116, 116);
    margin-bottom: 30px;
    line-height: 28px;
}

.half-width{
    width: 50%;
    padding-left: 10%;
}

.half-width img{
    width: 90%;
    margin-top: 20px;
}
.headsection{
    padding-top: 30px;
    background-color: rgb(230, 230, 230);
    padding-bottom:50px ;
}

.button{
    
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(209, 19, 200), rgb(165, 1, 50));
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
    font-weight: bolder;
    display: inline;

}

.about-me{
    margin-top: 50px;
    
}

.about-me .about{
    margin-top: 50px;
}

.recipie{
    margin-top: 150px;
    text-align: center;
    padding-left: 10%;
}

.recipie p{
    margin-top: 30px;
    width: 50%;
    margin: 0 auto;
}


.bshad{
    width: 33%;
    /* padding-left: 10%; */
    background-color: #fff;
    box-shadow: 4px 6px 6px rgb(117, 117, 117);
    padding: 30px ;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 35px;
    margin-right: 35px;




}

.bshad img{
    width: 100%;
    margin-bottom: 15px;
}
.items{
    background-color: rgb(230, 230, 230);
    padding-bottom: 50px;
    margin-bottom: 30px;

}
.item2 img{
    border-radius: 8px;
}

.items h1{
    padding-top: 20px;
    margin-bottom: 20px;
}


.item3 img{
    border-radius: 10px;
}
h4{
    /* text-align: center; */
    color: rgb(5, 100, 17);
}

.stwidth{
    width: 33%;
}

.social-status{
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;

}


.social-status h1{
    margin-bottom: -30px;
}

.footer{
    margin-top: 50px;
    text-align: center;
    background: #000;
    padding: 5%;
}



.footer .white{
    color: white;
}